h1 {
  color: rgb(0, 153, 255);
  text-align: center;
  font-size: 36px;
  text-decoration: underline;
  margin-top: 15px;
}

.profile-img {
  display: block;
  margin: 20px auto;
  border: 8px solid darkblue;
}

body {
    background-color: orange
}

p {
    border: 8px solid darkblue;
    padding: 30px;
    margin: 10px 20px;
}
